.container{
    background-color: snow;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    width: 80%;
    /* align-items: ; */
}
.header{
    background-color: tomato;
}
.sidebar ul{
    list-style-type: none;
    overflow: hidden;
}
.sidebar ul li{
    margin: 10px;
    padding: 0;
    float: left;
    display: block;
}
.sidebar ul li a{
    text-decoration: none;
}
.content{
    margin: 5px, 0px;
}
.footer{
    background-color: tomato;
}